.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
.tileW{
    background-color: #E5D19F;
}
.tileB{
    background-color: #5C4849;
}